.vs
obj/

BaseDatos/bin/Debug/BaseDatos.dll
BaseDatos/bin/Debug/BaseDatos.pdb

BLL/bin/Debug/BLL.dll
BLL/bin/Debug/BLL.pdb
BLL/bin/Debug/DAL.dll
BLL/bin/Debug/DAL.pdb
BLL/bin/Debug/UTIL.dll
BLL/bin/Debug/UTIL.pdb
BLL/bin/Release/BLL.dll
BLL/bin/Release/BLL.pdb
BLL/bin/Release/DAL.dll
BLL/bin/Release/DAL.pdb
BLL/bin/Release/UTIL.dll
BLL/bin/Release/UTIL.pdb

DAL/bin/Debug/DAL.dll
DAL/bin/Debug/DAL.pdb
DAL/bin/Release/DAL.dll
DAL/bin/Release/DAL.pdb

UTIL/bin/Debug/UTIL.dll
UTIL/bin/Debug/UTIL.pdb
UTIL/bin/Release/UTIL.dll
UTIL/bin/Release/UTIL.pdb

NotaVenta/bin/BLL.dll
NotaVenta/bin/BLL.pdb
NotaVenta/bin/DAL.dll
NotaVenta/bin/DAL.pdb
NotaVenta/bin/TexasHub.dll
NotaVenta/bin/TexasHub.pdb
NotaVenta/bin/UTIL.dll
NotaVenta/bin/UTIL.pdb