
@{
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Error";
    Layout = null;
}
<head>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/Content/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/js/app.min.js?@parametroUpdate"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <div id="page-container" class="fade">
        <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">@ViewBag.CodigoError</div>
            <div class="error-content">
                <h1 class="error-message">@ViewBag.Titulo</h1>
                <div class="error-message">@ViewBag.Mensaje</div>
                <div class="error-desc m-b-30">
                    <br />
                </div>
                <div>
                    @Html.Raw(ViewBag.TIPO_ACCION_BTN)
                </div>
            </div>
        </div>
    </div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/js/theme/default.min.js?@parametroUpdate"></script>
    <script src="~/Content/assets/js/app.min.js?@parametroUpdate"></script>
    <!-- ================== END BASE JS ================== -->
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>